<%- include("./partials/header") %>
    <style>
        .products{
            top:670px;
            left: 10%;
        }
        .ftr{
            bottom:0%;
        }
        .pr{
            position: absolute;
            top:610px;
            font-size: x-large;
            margin: auto;
            margin-left: 6%;
            font-weight: 700;
            
            border:2px solid rgba(209, 134, 36, 0.91);
            box-sizing: content-box;
            border-width: 5px;
            padding: 5px;
            background-color: bisque;
        }
        .pr p{
            display: flex;
            align-self: center;
        }
    </style>
    <!-- block for slogan  -->
    <div class="slogan">
        <p>VOCAL
            <p>FOR</p>
            <p>LOCAL</p>
        </p>
    </div>
    <% if (!locals.user) { %>
        <!-- block for login  -->
    <div class="login">
        <!-- <button class="btn">Log In</button> -->
       <a href="/login0"> <button type="button" class="btn btn-dark">LogIn</button></a>
      
    </div>
    <div class="sign">
    <p>Don't have Account?<a href="/signup0">SignUP</a></p>
    </div>
        
    <% } %>
   <div class="pr" id="pr"><p>PRODUCTS</p>
   <% var current = p.length; %>
<% while (current > 0){%>
   
<div class="products<%current-1%>">
  <% var i=9; while(i>0 && current>0) {%>
   <li><a href="/product/<%=p[current-1].Pname%>"><img src="https://source.unsplash.com/100x100/?<%=p[current-1].Pname%>" alt="products"><%=p[current-1].Pname%><br>RS-<%=p[current-1].price%></a></li>
  <%i--;current--;}%></div></br>
    <%};%></div>
    <%- include("./partials/footer") %>
